{% extends "base.html" %}

{% load custom_filters %}
{% load static %}

{% block title %}{% block head_title %}Account{% endblock %}{% endblock %}

{% block content %}
<div>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {% block userauthcontent %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}

{% endblock %}