{% extends "base.html" %}

{% load custom_filters %}
{% load static %}

{% block title %}{% block head_title %}Account{% endblock %}{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
      .form-group {
        margin-top: 10px;
      }
    </style>
    
    {% block extra_head %}
    {% endblock %}

    <!-- Moved <body> tag here as it should not be inside the block -->
    {% block body %}
    <body>
        {% if messages %}
            <div class="p-2">
                {% for message in messages %}
                    <div class="text-center border-bottom">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="p-3 mb-3 bg-info">
            <div class="container d-flex justify-content-between">
                {% if user.is_authenticated %}
                <div><a class="text-light" href="{% url 'account_email' %}">Change E-mail</a></div>
                <div><a class="text-light" href="/">Home</a></div>
                <div><a class="text-light" href="{% url 'account_logout' %}">Sign Out</a></div>
                {% else %}
                <div><a class="text-light" href="{% url 'account_login' %}">Sign In</a></div>
                <div><a class="text-light" href="{% url 'account_signup' %}">Sign Up</a></div>
                {% endif %}
            </div>
        </div>

        {% block userauthcontent %}
        {% endblock %}
    </body>
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
{% endblock %}
