{% extends 'account/base.html' %}

{% load static %}
{% block userauthcontent %}
<div class="car shadow-lg border-0 rounded-lg">
    <div class="card-header text-center">
        <h3 class="font-weight-light my-4">BOOKMARKS</h3>
        <div class="mt-4">
            {% if user.is_authenticated %}
                {% if user.socialaccount_set.exists %}
                    {% with account=user.socialaccount_set.first %}
                        {% if account.provider == 'github' %}
                            <img src="{{ account.extra_data.avatar_url }}" class="rounded-circle" alt="" width="100" height="100">
                        {% elif account.provider == 'Google' %}
                            <img src="{{ account.extra_data.picture }}" class="rounded-circle" alt="" width="100" height="100">
                        {% elif account.provider == 'twitter' %}
                            <img src="{{ account.extra_data.profile_image_url_https }}" class="rounded-circle" alt="" width="100" height="100">
                        {% elif account.provider == 'facebook' %}
                            <img src="{{ account.extra_data.picture.data.url }}" class="rounded-circle" alt="" width="100" height="100">
                        {% else %}
                            <img src="{% static 'images/app-logo/default-profile-pic.jpg' %}" class="rounded-circle" alt="" width="100" height="100">
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <img src="{% static 'images/app-logo/default-profile-pic.jpg' %}" class="rounded-circle" alt="" width="100" height="100">
                {% endif %}
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 1 1 0 8a4 4 0 0 1 0-8m0 16s8 0 8-2c0-2.4-3.9-5-8-5s-8 2.6-8 5c0 2 8 2 8 2"/></svg>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h4>Your Bookmarked Tools:</h4>
        <ul class="list-group list-group-flush mt-3">
            {% for bookmark in user_bookmarks %}
                <li class="list-group-item">
                    <strong>{{ bookmark.tool.ai_name }}</strong> - 
                    <a href="{% url 'ai_body' bookmark.tool.slug %}">View</a> | 
                    <form method="POST" action="{% url 'remove_bookmark' bookmark.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="width:100px; height:20px; font-size: 10px; padding: 0; line-height: 1;" class="btn btn-danger">Remove Bookmark</button>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item">You haven't bookmarked any tools yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>
<br>
<div class="car shadow-lg border-0 rounded-lg">
    <div class="card-header text-center">
        <a class="dropdown-item" href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 14 14"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5v2a1 1 0 0 1-1 1h-2m0-13h2a1 1 0 0 1 1 1v2m-13 0v-2a1 1 0 0 1 1-1h2m0 13h-2a1 1 0 0 1-1-1v-2m6.5-4a2 2 0 1 0 0-4a2 2 0 0 0 0 4m3.803 4.5a3.994 3.994 0 0 0-7.606 0z"/></svg>
            Back to Dashboard
          </a>
    </div>
</div>
{% endblock %}
