{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block userauthcontent %}
<div class="card shadow-lg border-0 rounded-lg">
    <div class="card-header">
        <h3 class="font-weight-light my-4 text-center">{% trans "Sign Out" %}</h3>
    </div>
    <div class="card-body">
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}