{% load custom_filters %}

<div id="tools-list" class="row">
    {% for tool in page_obj %}
    <div class="col-xs-12 col-sm-4">
        <div class="card">
            <a class="img-card" href="{% url 'ai_body' slug=tool.slug %}">
                {% if tool.ai_image %}
                    <img data-src="{{ tool.ai_image.url }}" alt="{{ tool.ai_name }}" />
                {% else %}
                    <img data-src="/media/images/default.jpg" alt="{{ tool.ai_name }}" />
                {% endif %}
            </a>
            <div class="card-content">
                <h4 class="card-title">
                    <a href="{% url 'ai_body' slug=tool.slug %}">
                        {% if tool.ai_tool_logo %}
                            <img 
                                data-src="{{ tool.ai_tool_logo.url }}" 
                                alt="" 
                                class="logo-img {% if tool.needs_black_bg %}logo-bg-black{% endif %}" />
                        {% else %}
                            <img 
                                data-src="/media/images/default_logo.jpg" 
                                alt="" 
                                class="logo-img {% if tool.needs_black_bg %}logo-bg-black{% endif %}" />
                        {% endif %}
                        {{ tool.ai_name }}
                    </a>
                </h4>
                <p class="">
                    {{ tool.ai_short_description|strip_html|truncatechars:80 }} <a href="{% url 'ai_body' slug=tool.slug %}">Learn more</a>
                </p>
                <p style="font-style: italic;">
                    Pricing: <i style="color:red;">{{ tool.ai_pricing_tag }}</i>
                </p>
                <p class="tags">
                    Tags:
                    {% for tag in tool.ai_tags|split_tags|slice:":3" %}
                        <a href="/tags/{{ tag|slugify }}">{{ tag|truncatechars:15 }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    ... 
                </p>
            </div>
            <div class="card-read-more">
                <a href="{% url 'ai_body' slug=tool.slug %}" class="btn btn-link">
                    DETAIL
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path fill="none" stroke="purple" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7 6.5h9.75c2.107 0 3.16 0 3.917.506a3 3 0 0 1 .827.827C22 8.59 22 9.893 22 12M12 6.5l-.633-1.267c-.525-1.05-1.005-2.106-2.168-2.542C8.69 2.5 8.108 2.5 6.944 2.5c-1.816 0-2.724 0-3.406.38A3 3 0 0 0 2.38 4.038C2 4.72 2 5.628 2 7.444V10.5c0 4.179 0 6.505 1.02 8m3.637-2.93l2.062-.056c1.098-.03 1.647-.044 1.98.288c.331.332.316.88.287 1.979l-.055 2.062m-.295-3.979L5 21.5m17-6h-7m7 3h-7m3.5 3H15" color="purple"/></svg>
                </a>
                <button onclick="openTool('{{ tool.ai_tool_link }}', '{{ tool.ai_name }}', '{{ tool.slug }}', '{{ tool.ai_tool_link }}')" class="btn btn-link">
                    PREVIEW
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path fill="purple" d="M21.773 14.768c-.029.414-.186.81-.45 1.13a1.892 1.892 0 0 1-.998.63l-3.157.521l-.09.09a.381.381 0 0 0-.09.15l-.5 2.902a1.922 1.922 0 0 1-1.778 1.471h-.09c-.374 0-.74-.111-1.05-.32a1.911 1.911 0 0 1-.739-.92l-2.787-7.906a1.904 1.904 0 0 1 .45-2.001c.253-.263.58-.44.939-.51a1.866 1.866 0 0 1 1.069.07l7.992 2.781c.404.135.754.394 1 .74c.215.351.313.761.28 1.172"/><path fill="purple" d="M9.305 22.243a.834.834 0 0 1-.22 0a10.469 10.469 0 0 1-4.5-2.83a10.491 10.491 0 0 1-2.448-10A10.49 10.49 0 0 1 4.82 4.819a10.467 10.467 0 0 1 9.902-2.765a10.466 10.466 0 0 1 4.669 2.54a10.49 10.49 0 0 1 2.822 4.51a.743.743 0 0 1-1.059.886a.76.76 0 0 1-.37-.436a9.008 9.008 0 0 0-2.41-3.894a8.988 8.988 0 0 0-8.585-2.143a8.989 8.989 0 0 0-3.953 2.306a9.01 9.01 0 0 0-2.377 8.536a8.99 8.99 0 0 0 6.075 6.443a.77.77 0 0 1 .49 1a.75.75 0 0 1-.72.44"/></svg>
                </button>
                <a href="{{ tool.ai_tool_link }}" class="btn btn-link" target="_blank">
                    VISIT
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path fill="purple" d="M12 22q-2.075 0-3.537-1.463T7 17V7q0-2.075 1.463-3.537T12 2t3.538 1.463T17 7v5h-5v2q-.825 0-1.412.588T10 16q0 .8.588 1.375T12 18zm2 0v-.575q0-1.3 1.25-1.875t2.75-.575t2.75.575T22 21.425V22zm4-4q-.825 0-1.412-.587T16 16t.588-1.412T18 14t1.413.588T20 16t-.587 1.413T18 18m-6-1q-.425 0-.712-.288T11 16t.288-.712T12 15t.713.288T13 16t-.288.713T12 17m0-7q.825 0 1.413-.587T14 8t-.587-1.412T12 6t-1.412.588T10 8t.588 1.413T12 10"/></svg>
                </a>
            </div>
        </div>                            
    </div>
    {% endfor %}

</div>
