<div class="inline-checkbox-select">
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            <label class="inline-checkbox">
                <input type="checkbox" name="{{ widget.name }}" value="{{ option.value }}"
                       {% if option.selected %}checked{% endif %}>
                {{ option.label }}
            </label>
        {% endfor %}
    {% endfor %}
</div>

<style>
    .form-control {
        border-radius: 5px;
        padding: 10px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }
    .form-control:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        border-color: #007bff;
    }

    .inline-checkbox-select {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 15px;
    }
    .inline-checkbox {
        display: inline-flex;
        align-items: center;
        margin-right: 5px;
        font-size: 0.6rem;  /* Smaller font size */
    }
    .inline-checkbox input {
        margin-right: 1px;
        transform: scale(0.8);  /* Slightly smaller checkboxes */
    }
    label {
        font-weight: bold;
    }
    .help-text {
        font-size: 0.85rem;
        color: blue;
        margin-top: 5px;
        font-style: italic;
    }
    .form-container {
        max-width: 80%%;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #f9f9f9;
        border: 2px solid #007bff;
    }
    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #007bff;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        width: 100%;
        margin-top: 20px;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
