{% extends "base.html" %}

{% load custom_filters %}

{% block title %}All Categories{% endblock %}

{% block content %}

<div class="all-categories-entire-page">
    <div class="container">
    <div class="row">
        <div>
            <h1 class="heading">CATEGORIES</h1>
            <div>
                {% for category, tools in categories_with_tools.items %}
                    <a href="{% url 'category_tools' category_slug=category.slug %}">
                        <button class="category-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 16 16">
                                <g fill="none">
                                    <g clip-path="url(#gravityUiHandPointRight0)">
                                        <path fill="red" fill-rule="evenodd" d="m2.5 6l2.906-3.737a1.978 1.978 0 0 1 3.48 1.694L8.626 5h5.432a1.942 1.942 0 0 1 .421 3.838L11.5 9.5l-.457 2.744a3 3 0 0 1-3.732 2.405L3 13.5zm5.197 7.2l-3.272-.872l-.39-5.858L6.59 3.184a.478.478 0 0 1 .84.41l-.26 1.042L6.704 6.5h7.354a.442.442 0 0 1 .096.874l-2.98.662l-.987.22l-.166.997l-.458 2.744A1.5 1.5 0 0 1 7.697 13.2m-7.195.103a.75.75 0 0 0 1.496-.106l-.5-7a.75.75 0 1 0-1.496.106z" clip-rule="evenodd"/>
                                    </g>
                                    <defs>
                                        <clipPath id="gravityUiHandPointRight0">
                                            <path fill="red" d="M0 0h16v16H0z"/>
                                        </clipPath>
                                    </defs>
                                </g>
                            </svg>
                            {{ category.name }}
                        </button>
                    </a>
                {% endfor %}
            </div>
            <br>
            <hr>
            <br>
        </div>

        <div class="tags-and-cat-table">
            <table  class="table-rounded" style="width:100%">
                <tr>
                    <th>CATEGORY</th>
                    <th>ASSOCIATED TOOLS</th>
                </tr>
                {% for category, tools in categories_with_tools.items %}
                <tr>
                    <td>
                        <a href="{% url 'category_tools' category_slug=category.slug %}">{{ category.name }}</a> ({{ tools|length }})
                    </td>
                    <td>
                        <ul>
                            {% for tool in tools %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" viewBox="0 0 512 512"><path fill="grey" d="M58.79 439.13A16 16 0 0 1 48 424c0-73.1 14.68-131.56 43.65-173.77c35-51 90.21-78.46 164.35-81.87V88a16 16 0 0 1 27.05-11.57l176 168a16 16 0 0 1 0 23.14l-176 168A16 16 0 0 1 256 424v-79.77c-45 1.36-79 8.65-106.07 22.64c-29.25 15.12-50.46 37.71-73.32 67a16 16 0 0 1-17.82 5.28Z"/></svg>
                                <a href="{% url 'ai_body' slug=tool.slug %}">{{ tool.ai_name }}</a>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>


<br><br>
<div class="container">
    <a href="/"><button type="submit" class="btn btn-primary btn-sm">HOME</button></a>
</div>
{% endblock %}
