{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block userauthcontent %}
<div class="card shadow-lg border-0 rounded-lg">
    <div class="card-header">
        <h3 class="font-weight-light my-4 text-center">{% trans "Account Connections" %}</h3>
    </div>
    <div class="card-body">
        {% if form.accounts %}
            <p>{% blocktrans %}Below is/are active account/s. You can add an account by signing in using any of the following third party accounts:{% endblocktrans %}</p>

            <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}

                <div class="list-group mb-3">
                    {% for base_account in form.accounts %}
                        {% with base_account.get_provider_account as account %}
                            <label class="list-group-item" for="id_account_{{ base_account.id }}">
                                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}" class="me-2"/>
                                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                                - {{ account }}
                            </label>
                        {% endwith %}
                    {% endfor %}
                </div>

                <div class="d-grid">
                    <!-- <button class="btn btn-danger" type="submit">{% trans 'Remove' %}</button> -->
                </div>
            </form>
        {% else %}
            <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
        {% endif %}

        <hr>
        <h4 class="mt-4">{% trans 'Add A Third Party Account' %}</h4>

        <div class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
</div>
{% endblock %}