{% for comment in all_comments %}
<div class="comment-item border-bottom pb-2 mb-2" data-comment-id="{{ comment.id }}">
  <div class="d-flex justify-content-between">
    <div>
      <strong>{{ comment.user.username }}</strong>
      <small class="text-muted">{{ comment.created_at|date:"M d, Y" }}</small>
    </div>
    {% if request.user == comment.user %}
    <div>
      <!-- <a href="#" class="edit-comment" data-comment-id="{{ comment.id }}">Edit</a> -->
      <button type="button" class="delete-comment btn btn-danger" style="width:100px; height:20px; font-size: 10px; padding: 0; line-height: 1;" data-comment-id="{{ comment.id }}">DELETE COMMENT</button>
    </div>
    {% endif %}
  </div>
  <p>{{ comment.comment }}</p>
</div>
{% empty %}
<p>No comments yet.</p>
{% endfor %}